@import 'src/styles/reset'
@import 'src/styles/variables'

body
    font-size: 16px
    font-family: $satoshi
    background-color: $black
    color: $dark-primary

img
    max-width: 100%

.icon
    width: 1rem
    height: 1rem

.btn
    display: inline-flex
    align-items: center
    padding: 1rem 2rem
    background-color: $light-grey

.btn + .btn
    margin-left: 1rem

h4
    font-family: $clash
    font-size: 1.25rem
    line-height: 140%
