<template>
  <footer class="footer"></footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Footer',
  setup() {
    return {};
  },
});
</script>

<style lang="sass" scoped></style>
