<template>
  <header class="header">
    <div class="top-line">
      <div class="search">
        <button class="btn">
          <svg class="icon"><use href="@/assets/sprite.svg#search" /></svg>
        </button>
      </div>
      <div class="logo">
        <a href="/">Ecommerce Shop</a>
      </div>
      <div class="user">
        <button class="btn">
          <svg class="icon"><use href="@/assets/sprite.svg#shopping-cart" /></svg>
        </button>
        <button class="btn">
          <svg class="icon"><use href="@/assets/sprite.svg#user-avatar" /></svg>
        </button>
      </div>
    </div>
    <div class="main-menu">
      <div v-for="item in mainMenu" :key="item.name" class="menu-item"><a :href="item.path">{{ item.name }}</a></div>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mainMenu } from '@/constants/menu';

export default defineComponent({
  name: 'Header',
  setup() {
    return { mainMenu };
  },
});
</script>

<style lang="sass" scoped>
@mixin header-path
  display: flex
  align-items: center
  padding: 1.25rem 0

.header
  height: 8.25rem
  padding: 0 1.5rem

.top-line
  @include header-path
  justify-content: space-between
  border-bottom: 1px solid $border

.logo a
  font-family: $clash
  color: $black
  font-size: 1.5rem

.main-menu
  @include header-path
  justify-content: center

.menu-item
  & + .menu-item
    margin-left: 1rem

  a
    color: $topaz


@media all and (hover: hover)
  .menu-item a:hover
    text-decoration: underline
</style>
