<template>
  <section class="benefits">
    <h3 class="title">What makes our brand different</h3>
    <div class="benefits-box">
      <div class="benefit-block">
        <svg class="icon"><use href="@/assets/sprite.svg#delivery" /></svg>
        <h4 class="benefit-title">Next day as standard</h4>
        <p class="benefit-text">Order before 3pm and get your order the next day as standard</p>
      </div>
      <div class="benefit-block">
        <svg class="icon"><use href="@/assets/sprite.svg#checkbox-outline" /></svg>
        <h4 class="benefit-title">Made by true artisans</h4>
        <p class="benefit-text">Handmade crafted goods made with real passion and craftmanship</p>
      </div>
      <div class="benefit-block">
        <svg class="icon"><use href="@/assets/sprite.svg#purchase" /></svg>
        <h4 class="benefit-title">Unbeatable prices</h4>
        <p class="benefit-text">For our materials and quality you won’t find better prices anywhere</p>
      </div>
      <div class="benefit-block">
        <svg class="icon"><use href="@/assets/sprite.svg#sprout" /></svg>
        <h4 class="benefit-title">Recycled packaging</h4>
        <p class="benefit-text">We use 100% recycled to ensure our footprint is more manageable</p>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BenefitsSection',
  setup() {
    return {};
  },
});
</script>

<style lang="sass" scoped>
.benefits
  padding: 5rem

.title
  font-family: $clash
  font-size: 1.5rem
  line-height: 140%
  text-align: center
  margin-bottom: 2.25rem

.benefits-box
  display: flex

.benefit-block
  width: calc(100%/4 - 1rem*3/4)
  padding: 3rem
  background-color: $light-grey

  &+.benefit-block
    margin-left: 1rem

.icon
  width: 1.5rem
  height: 1.5rem

.benefit-title
  margin: .75rem 0

.benefit-text
  line-height: 150%
</style>
