<template>
  <section class="hero">
    <div class="hero-box">
      <div class="title">Luxury homeware for people who love timeless design quality</div>
      <div class="subtitle">Shop the new Spring 2022 collection today</div>
      <button class="btn hero-btn">View collection</button>
    </div>
    <img src="@/assets/img/hero.jpg" alt="Ecommerce Shop">
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HeroSection',
  setup() {
    return {};
  },
});
</script>

<style lang="sass" scoped>
.hero
  position: relative

.hero-box
  width: 39.375rem
  position: absolute
  background-color: $white
  padding: 3rem 3.5rem
  right: 5rem
  top: 50%
  transform: translateY(-50%)

.title
  font-family: $clash
  font-size: 32px
  line-height: 140%

.subtitle
  font-size: 18px
  line-height: 150%
  margin-top: 1.25rem
  color: $smoky

.hero-btn
  margin-top: 9.75rem
</style>
