<template>
  <div class="listing">
    <div class="listing-box">
      <div class="product-block">
        <img src="@/assets/img/listing/chair.jpg" alt="The Dandy chair" class="product-image">
        <h4 class="product-title">The Dandy chair</h4>
        <div class="product-price">$250</div>
      </div>
      <div class="product-block">
        <img src="@/assets/img/listing/vase.jpg" alt="Rustic Vase Set" class="product-image">
        <h4 class="product-title">Rustic Vase Set</h4>
        <div class="product-price">$155</div>
      </div>
      <div class="product-block">
        <img src="@/assets/img/listing/silky-vase.jpg" alt="The Silky Vase" class="product-image">
        <h4 class="product-title">The Silky Vase</h4>
        <div class="product-price">$125</div>
      </div>
      <div class="product-block">
        <img src="@/assets/img/listing/lamp.jpg" alt="The Lucy Lamp" class="product-image">
        <h4 class="product-title">The Lucy Lamp</h4>
        <div class="product-price">$399</div>
      </div>
    </div>
    <div class="listing-btn-container">
      <button class="btn listing-btn">View collection</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ListingSection',
  setup() {
    return {};
  },
});
</script>

<style lang="sass" scoped>
.listing
  padding: 1.75rem 5rem 2.5rem

.listing-box
  display: flex

.product-block
  width: calc(100%/4 - 1rem*3/4)

  &+.product-block
    margin-left: 1rem

.product-title
  margin: 1.5rem 0 .5rem

.product-price
  font-size: 1.125rem
  line-height: 150%

.listing-btn-container
  text-align: center
  margin-top: 3rem
</style>
