<template>
  <div class="container">
    <Header />
    <main class="content">
      <Hero />
      <Benefits />
      <Listing />
    </main>
    <Footer />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Header from '@/components/Layout/Header.vue';
import Hero from '@/components/Sections/Hero.vue';
import Benefits from '@/components/Sections/Benefits.vue';
import Listing from '@/components/Sections/Listing.vue';
import Footer from '@/components/Layout/Footer.vue';

export default defineComponent({
  name: 'App',
  components: { Header, Hero, Benefits, Listing, Footer },
  setup() {
    return {};
  },
});
</script>

<style lang="sass" scoped>
.container
  max-width: 90rem
  margin: 0 auto
  background-color: $white
</style>
